{% extends 'vacancies/base.html' %}
{% block container %}
<main class="container mt-3">
  <section>
    <h1 class="h1 text-center mt-5 mb-4">Поиск вакансий</h1>
    {% include 'vacancies/snippet-search-form.html' with search_value=query %}
  </section>
  <section>
    <p class="text-center pt-1">Найдено вакансий: {{ vacancies.count }} </p>
    <div class="row mt-5">
      <div class="col-12 col-lg-8 offset-lg-2 m-auto">
        {% for vacancy in vacancies %}
        {% include 'vacancies/snippet-vacancy-card.html' with vacancy=vacancy %}
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}