{% extends 'vacancies/base.html' %}
{% block container %}
<main class="container mt-3">
  <section>
    <h2 class="h2 text-center mt-5 mb-4">Вкансии специализации {{ spec.title }}</h2>
    <p class="text-center pt-1">Найдено вакансий: {{ spec.vacancies.count }}</p>
    <div class="row mt-1">
      <div class="col-12 col-lg-8 offset-lg-2 m-auto">
        {% for vacancy in spec.vacancies.all %}
        {% include 'vacancies/snippet-vacancy-card.html' with vacancy=vacancy %}
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}